.contact-us{
    width: 100%;
    height: auto;
    padding: 16rem 10rem;
    background: $primary-black;
    position: relative;
    @media screen and (max-width:768px){
        padding: 16rem 5rem;
    }
    &__img{
        position: absolute;
        top: -8rem;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    &-container{
        width: 100%;
        height: auto;
        max-width: 1800px;
        margin: 0 auto;
    }
    &-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10vw;
        @media screen and (max-width:900px) {
            grid-template-columns: 1fr;
        }
    }
    &-text{
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        transform: translateY(100px);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &-container{
            width: 100%;
            max-width: 600px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            @media screen and (max-width:900px) {
                max-width: 500px;
            }
            h1{
                color: $primary-red;
            }
            p{
                color: $primary-red;
            }

        }
    }
    &-form{
        .form{
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            transform: translateY(100px);
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 4rem;
            input{
                padding: 2rem;
                border: 1px solid $primary-white;
                background: $primary-black;
                font-weight: 400;
                border-radius: 25rem;
                color: $primary-white;
                outline: none;
                &::placeholder{
                    color: $primary-white;
                }
            }
            .btn{
                width: 100%;
                padding: 2rem;
                img{
                    background-color: transparent;
                }
            }
        }
    }
}