.contact{
    width:100%;
    height: auto;
    padding: 10rem;
    background-color: $secondary-red-light;
    border-top: 2px solid $primary-blue-dark;
    border-bottom: 2px solid $primary-blue-dark;
    &-section{
        width: 100%;
        height: auto;
    }
    &-col{
        &__img{
            padding-right: 4rem;
            .contact-img{
            width: 80%;
        }
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 8rem;
            height: auto;
            .contact-text-container{
                h1{
                    width: 80%;
                    margin-bottom: 2.4rem;
                }
                p{
                    width: 80%;
                }
            }
        }
    }
}
}