.work{
    width: 100%;
    height: auto;
    margin-top: 16rem;
    &-container{
        width: 100%;
        height: auto;
        max-width: 1800px;
        margin: 0 auto;
    }

    &-item{
        padding: 0 20rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);

        @media screen and (max-width:1000px){
            gap: 10rem;
            padding: 0 10rem;
        }
        @media screen and (max-width:900px){
            grid-template-columns:repeat(1,1fr);
            padding: 0 5rem;
        }
        &__rev{
            @media screen and (max-width:900px){
                grid-template-areas:'up' 'down' ;
                .work-item{
                    &__img{
                        grid-area: down;
                    }
                    &__text{
                        grid-area: up  ;
                    }
                }
            }
        }

        gap: 20rem;
        margin-bottom: 16rem;
        &__text{
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            transform: translateY(100px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media screen and (max-width:900px){
                justify-content: center;
                align-items: center;
            }
            &-container{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                width: 90%;
                @media screen and (max-width:900px){
                    justify-content: center;
                    align-items: center;
                    max-width: 600px;
                }
                h1{
                    font-size: 4.8rem;
                    font-weight: 400;
                    margin-bottom: 2.4rem;
                    @media screen and (max-width:900px){
                        text-align: center;
                    }
                }
                p{
                    margin-bottom: 2.4rem;
                    @media screen and (max-width:900px){
                        text-align: center;
                    }
                }
            }
        }
        &__img{
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            transform: translateY(100px);
            @media screen and (max-width:991px){
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img{
                width: 100%;
                max-width: 71rem;
            }
        }
    }
}
