@mixin flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin abs-position ($top, $right, $bottom, $left) {
    position: absolute; 
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
 }