//primary colors
$primary-blue:#1C43CE;
$primary-blue-dark:#0D2371;
$primary-blue-light:#6481E8;
$primary-blue-light-ex:#CFD8F9;
$primary-white:#FAFBFF;
//secondary colors
$secondary-red:#FF0066;
$secondary-red-light:#FFBAC6;
$secondary-yellow:#F2C94C;
$secondary-yellow-light:#FEFAD4;
//ui colors
