.form{
    display: flex;
    flex-direction:column;
    &-input{
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid $primary-blue-dark;
        margin-bottom: 4.6rem;
        &::placeholder{
            color:$primary-blue-dark;
            font-size: 2.4rem;
            font-weight: 500;
            font-family: "Lora",serif;
        }
    }
    .btn{
        @include flex;
        position: relative;
        img{
            background-color: $secondary-red-light;
            width: 2.4rem;
            align-items: flex-end;
            position: absolute;
            right: 2rem;
        }
    }
}