.header{
    width: 100%;
    @include flex;
    height: 100px;
    padding:0 10rem;
    @media  screen and (max-width:900px) {
        padding: 0 5rem;
    }
}

.nav{
    max-width: 1800px;
    margin: 0 auto;
    @include flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    &-links{
        height: 100%;
        @include flex;
        &__list{
            cursor: pointer;
            text-decoration: none;
            list-style: none;
            position: relative;
            color: $primary-black;
            z-index: 2;
            opacity: 1;
            clip-path: none;
            transform: translateY(0);
            &:not(:last-child){
                margin-right: 6.4rem;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: -1rem;
                display: block;
                width: 0;
                height: .4rem;
                background-color: $primary-red;
                left: 0;
                border-radius: 1px;
                transition: width 0.3s ease-in-out;
                &:hover{
                    width: 100%;
                }
            }
            &-active{
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    width: 100%;
                    height: .4rem;
                    background-color: $primary-red;
                    left: 0;
                    border-radius: 1px;
                }
            }
        }
    }
}
.brand{
    &-logo{
        width: 6rem;
        img{
            width: 100%;
        }
    }
}
.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    display: none;
    .line1{
        width: 40px;
        height: 5px;
        margin-bottom: 8px;
        background-color: $primary-black;
    }
    .line2{
        width: 40px;
        height: 3px;
        background-color: $primary-black;
    }
}

@media screen and (max-width:640px){

    .nav{
        width: 100%;
        z-index: 2;
        .brand{
            z-index: 3;
            &-logo{
                width: 8rem;
                img{
                    width: 100%;
                }
            }
        }
        .hamburger{
            display:block;
            z-index: 3;
            cursor: pointer;
        }
        &-links{
            background-color: $primary-red;
            width: 100%;
            height: 100%;
            z-index: 2;
            flex-direction: column;
            margin-top: -8rem;
            left: 0;
            bottom: 0;
            position: fixed;
            -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            transition: all 1s ease;
            &__list{
                font-size: 8rem;
                color: $primary-white;
                margin-bottom: 8rem;
                margin-right: 0 !important;
                clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                transform: translateY(100px);
                transition: opacity .5s ease;
                text-transform: uppercase;
                &:hover{
                    opacity: .5 !important;
                }
                &-active{
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -1rem;
                        width: 100%;
                        height: .4rem;
                        background-color: $primary-red;
                        left: 0;
                        border-radius: 1px;
                    }
                }
            }
        }
    }
}