@media screen and (min-width: 1800px) {
    html {
      font-size: 62.5%;
    }
  }
  
@media screen and (max-width: 1690px) {
    html {
      font-size: 56.25%;
    }
  }
  @media screen and (max-width: 1400px) {
    html {
      font-size: 48%;
    }
  }
  
  @media screen and (max-width: 1200px) {
    html {
      font-size: 41.75%;
    }
  }
  
